%div.row
  %div.span3#foundation
    %h2
      =t "luyun.foundation.announcement.title"
    %p
      =t "luyun.foundation.announcement.content"
    %h2
      =t "luyun.culture.title"
    %p
      %h3
        =t "luyun.culture.content.zhixingheyi.title"  
      %p
        =t "luyun.culture.content.zhixingheyi.content"
      %h3
        =t "luyun.culture.content.buduanjinqu.title"  
      %p
        =t "luyun.culture.content.buduanjinqu.content"
      %h3
        =t "luyun.culture.content.lifenwork.title"  
      %p
        =t "luyun.culture.content.lifenwork.content"
      %h3
        =t "luyun.culture.content.fast.title"  
      %p
        =t "luyun.culture.content.fast.content"
  %div.span8#founders
    %h2
      =t "luyun.foundation.founders.all"
    %table
      %tbody
        %tr
          %td
            = image_tag "caiqingfeng.jpg", :size => "200x180"
          %td
            %h3
              =t "luyun.foundation.founders.caiqingfeng.name"
            =t "luyun.foundation.founders.caiqingfeng.title"
            %br
            %br
            =t "luyun.foundation.founders.caiqingfeng.carrier"
        %tr
          %td
            = image_tag "chenfeng.png", :size => "200x180"
          %td
            %h3
              =t "luyun.foundation.founders.chenfeng.name"
            =t "luyun.foundation.founders.chenfeng.title"
            %br
            %br
            =t "luyun.foundation.founders.chenfeng.carrier"
        %tr
          %td
            = image_tag "yesonghai.png", :size => "200x180"
          %td
            %h3
              =t "luyun.foundation.founders.yesonghai.name"
            =t "luyun.foundation.founders.yesonghai.title"
            %br
            %br
            =t "luyun.foundation.founders.yesonghai.carrier"
            