%div.row
  %div.span12
    %h2
      =t "luyun.carrier.title"
    %p
      =t "luyun.carrier.hr"
    %h3
      =t "luyun.carrier.job1.title"
    %br
    %h4
      =t "luyun.carrier.job1.responsibilities"
    %p
      =t "luyun.carrier.job1.requirements"
    %br
    %h3
      =t "luyun.carrier.job2.title"
    %br
    %h4
      =t "luyun.carrier.job2.responsibilities"
    %p
      =t "luyun.carrier.job2.requirements"
    %br
    %h3
      =t "luyun.carrier.job3.title"
    %br
    %h4
      =t "luyun.carrier.job3.responsibilities"
    %p
      =t "luyun.carrier.job3.requirements"
    %br
    %h3
      =t "luyun.carrier.job4.title"
    %br
    %h4
      =t "luyun.carrier.job4.responsibilities"
    %p
      =t "luyun.carrier.job4.requirements"
    %br
    %h3
      =t "luyun.carrier.job0.title"
    %br
    %h4
      =t "luyun.carrier.job0.responsibilities"
    %p
      =t "luyun.carrier.job0.requirements"
    %br
            