%div.row
  %div.span12
    %h2
      =t "luyun.download.Android.name"
      =link_to I18n.t('Download'), "/data/easyway95.apk"
    %h2
      =t "luyun.download.iPhone.name"
      -# =link_to I18n.t('Download'), "#"
    #body 
      =t "coming soon"