%div.row
  %div.span12
    %h2
      =t "luyun.download.Android.name"
      =link_to I18n.t('Download'), "/download/easyway95.apk"
    %h2
      =t "luyun.download.iPhone.name"
      =link_to I18n.t('Download'), "https://itunes.apple.com/us/app/lu-yi95-zhi-neng-lu-kuang/id561882100?ls=1&mt=8"