%div.hero-unit
  %h2 
    =t "smart_route.title"
  %p 
    =t "smart_route.intro"
%div.row
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_push.title"
    %p 
      =t "luyun.portfolio.95faster.smart_push.details"
    %p
      = image_tag "smart_push.jpg", :size => "300x480"
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_location.title"
    %p 
      =t "luyun.portfolio.95faster.smart_location.details"
    %p
      = image_tag "smart_push.jpg", :size => "300x480"
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_predict.title"
    %p 
      =t "luyun.portfolio.95faster.smart_predict.details"
    %p
      = image_tag "smart_push.jpg", :size => "300x480"
        