%div.hero-unit
  %h2 
    =t "smart_route.title1"
  %p 
    =t "smart_route.intro1"
  %h2 
    =t "smart_route.title2"
  %p 
    =t "smart_route.intro2"
  %h2 
    =t "smart_route.title3"
  %p 
    =t "smart_route.intro3"
%div.row
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_match.title"
    %p 
      =t "luyun.portfolio.95faster.smart_match.details"
    %p
      = image_tag "smart_push.png", :size => "300x480"
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_prompt.title"
    %p 
      =t "luyun.portfolio.95faster.smart_prompt.details"
    %p
      = image_tag "smart_push.png", :size => "300x480"
  %div.span4
    %h2
      =t "luyun.portfolio.95faster.smart_update.title"
    %p 
      =t "luyun.portfolio.95faster.smart_update.details"
    %p
      = image_tag "smart_push.png", :size => "300x480"
        