<p>您好，<%= @resource.email %>!</p>

<p>有人请求更改密码的链接，你可以通过下面的链接做到这一点。</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有请求，请忽略此电子邮件。</p>
<p>您的密码将不会改变，直到你访问上面的链接，并创建一个新的。</p>
